### Начало
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Ссылки-на-Графики" data-toc-modified-id="Ссылки-на-Графики-0.0.1">Ссылки на Графики</a></span></li></ul></div>

In [ ]:
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Ссылки-на-Графики" data-toc-modified-id="Ссылки-на-Графики-0.0.1">Ссылки на Графики</a></span></li></ul></div>

### Загрузить<font color="green"> библиотеки </font>

In [ ]:
### Загрузить<font color="green"> библиотеки </font>

In [ ]:
# !python -m pip install --upgrade pip
# !pip install seaborn==0.9.0
# print(sns.__version__)

In [3]:
# библиотеки
import pandas as pd
import numpy as np
import itertools
import random
import pylab, math

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split, ShuffleSplit, cross_val_score, learning_curve
from sklearn.model_selection import KFold, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import classification_report, f1_score, precision_score, recall_score
from sklearn.utils.class_weight import compute_class_weight

from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb, lightgbm as lgbm, catboost as catb

import seaborn as sns
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.pyplot import (axes,axis,title,legend,figure,
                               xlabel,ylabel,xticks,yticks,
                               xscale,yscale,text,grid,
                               plot,scatter,errorbar,hist,polar,
                               contour,contourf,colorbar,clabel,
                               imshow)
from numpy import (linspace,logspace,zeros,ones,outer,meshgrid,
                   pi,sin,cos,sqrt,exp)
%matplotlib inline

In [2]:
# Игнорирует предупреждения об обновлениях
import warnings

warnings.filterwarnings('ignore')

### Читать фаил CSV

In [ ]:
#sep разделитель по пробелу(в данном случае)
df = pd.read_csv('./dataset_209770_6.txt', sep=' ', )
train = pd.read_csv("./train_data.csv") #index_col="name col", parse_date=True) df['2011-02':'2011-04'] .resample('1w')

In [2]:
# Загружаем таблицу.Открываем фаил, с Кодировкой и без заголовка.
df = pd.read_csv('./test_case_synth_data.csv', encoding='utf8',header=None)

#### Запись CSV

In [ ]:
# Сохранение CSV
df.to_csv('file1.csv')
# Сохранение CSV без заголовков и индекса
df.to_csv('file2.csv', header=False, index=False)
# Сохранить CSV-файл в указанное место
df.to_csv(r'C:\Users\Admin\Desktop\file3.csv', index=False)
# Сохранить CSV-файл с колонками 'Id' и 'Price'
df.loc[:, ['Id', 'Price']].to_csv('df_predictions.csv', index=False)

In [ ]:
# Сохранение CSV
X_train.to_pickle('X_train.pkl')

### Читает xlxs фаил

In [ ]:
df = pd.read_excel("./GB.xlsx")

In [ ]:
import xlsxwriter
import pandas as pd
from pandas import DataFrame

path = ('...\\filename.xlsx')

xl = pd.ExcelFile(path)

print(xl.sheet_names)
'Sheet1'
df1 = xl.parse('Sheet1')

In [ ]:
# Считать из файла номер листа(можно вписать название листа в файле)
task = pd.read_excel(open('Задачи.xlsx', 'rb'),sheet_name=2,header=1)

#### Запись xlxs

In [ ]:
# Записать фаил и задать номер листа
df.to_excel("Ответы к задачам.xlsx",sheet_name='Sheet_name_1')

In [ ]:
# Дозаписать в фаил и задать номер другого листа
with pd.ExcelWriter("Ответы к задачам.xlsx", engine="openpyxl", mode="a") as writer:
    df.to_excel(writer, sheet_name="Sheet_name_2")

### Читает фаил json

In [ ]:
from PIL import Image
import json
from pandas.io.json import json_normalize
#data = open("./P45.json",encoding="utf8")
#data = json.loads(data.read())

In [ ]:
#data = json.load("./P45.json")
#data = pd.read_json("./P45.json")

https://pandas.pydata.org/docs/reference/api/pandas.io.json.read_json.html

### Colab

In [ ]:
from google.colab import files
uploaded = files.upload()

import io
data = io.BytesIO(uploaded['Задача 1.xlsx'])

df = pd.read_excel(data)
df = pd.read_excel(data,sheet_name=2,header=1)

url = 'copied_raw_GH_link'df1 = pd.read_csv(url)# Dataset is now stored in a Pandas Dataframe

#### Запись Colab

In [ ]:
# сохранить данные
from google.colab import files
files.download("data.csv")

#### Запись в формат .txt

In [ ]:
# Если ответом является нецелое число, то целую и дробную часть 
# необходимо разграничивать точкой, например, 0.421. 
# При необходимости округляйте дробную часть до трех знаков.
file_answer = open("answer.txt", "w")
file_answer.write(repr(round(diffval, 3)))
file_answer.close()

### Перемещение файлов

In [ ]:
# Перемещение файлов
import shutilfor
import glob
import os
file in list(glob(os.path.join('sample_data', '*.csv'))):
    shutil.move(file, 'test_dir')

In [9]:
# Копирование файлов
import shutilfor
shutil.copy(
    os.path.join('sample_data', 'README.md'),
    os.path.join('test_dir')
            )

#### Чтение нескольких похожих файлов

In [ ]:
from glob import glob # например file1, file2, file3
stock_files = sorted(glob('data/file*.csv'))
pd.concat((pd.read_csv(file) for file in stock_files)) # показывает индексы разных файло(0 и 0 и 0)
pd.concat((pd.read_csv(file) for file in stock_files), ignore_index=True)# показывает обновленный индекс
pd.concat((pd.read_csv(file) for file in stock_files), axis='columns') # если разные колонки и объединяем в один Data

**Открываем картинку png,jpg и меняем размер**

In [ ]:
from PIL import Image
# открываем файл
im = Image.open("11.png").convert('RGB')
# меняем размер файла
im = im.resize((1220,1000),resample=Image.NEAREST)
# сохраняем файл
im.save("11.png")

Открытие картинок в папках  
https://github.com/Svetorus/Computer_vision/blob/master/Change%20Pixel%2C%20Change%20the%20image%20size.ipynb

<font color="blue">DataFrame</font>

In [ ]:
# Создание DataFrame
df = pd.DataFrame({
    'country':['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
})

### Общая информация по фрайму

In [ ]:
# Смотрим таблицу(первые пять строк)
df.head()
df.head(5)

In [ ]:
# Общая информация
df.info()

In [ ]:
# просмотр мин, сред, мах значений по колонкам
df.describe()

In [ ]:
# показывает кол-во строк и столбцов
df.shape

In [ ]:
# Выводим типы данных
df.dtypes

In [ ]:
# корреляция Frame
df.corr()

In [ ]:
# размер всего фрэйма колонки * на строки
df.size

In [ ]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df)-df.count() 
# Количество пропущенных значений (в процентах)
round((len(df) - df.count()) / len(df) * 100, 2).sort_values(ascending=False)

In [ ]:
# смотрим уникальные значения по каждой колонке
df.nunique().sort_values()

In [ ]:
# Выводим кол-во дубликатов колонки number
df[df['number'].duplicated()].shape

In [ ]:
# Просмотрите данные, описание и названия признаков в датасете. Описание нужно вывести в виде привычного,
# аккуратно оформленного текста, без обозначений переноса строки, но с самими переносами и т.д.
for line in df.DESCR.split('\n'):
    print(line)

### Работа со  столбцами

In [ ]:
# Если столбцов много в DataFrame, DataFrame выводит начало столбцов и конец столбцов 
# Выводит все колонки
df.columns.values
# Выводит 100 колонок не обрезано
pd.options.display.max_columns = 100 
pd.set_option('display.max_columns', 100)
# Сбросит все настройки
pd.reset_option("^display")
# Сбросит max настройки
pd.reset_option("max_rows")
pd.reset_option("display.min_rows")
# по умолчанию=усечь
pd.set_option('display.expand_frame_repr', True)

In [ ]:
# параметры для отображения одного большого DataFrame
# Значения опций восстанавливаются автоматически при выходе из withблока
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (df)

In [ ]:
# выводим округление до 3 числа после нуля.
df = round(df, 3)

In [ ]:
# Сортировка по столбцу в порядке возрастания
df.sort_values('col_1')
# Сортировка по столбцу в порядке убывания
df.sort_values(by="col_1",ascending=False)
# Сортировка столбцов в порядке убывания
df.sort_values(by=["col_1", "col_2"])
# выбираем два столбца и сортируем в порядке убывания
df.sort_values(by=["col_1", "col_2"])[["col_1", "col_2"]]
# для сортировки DataFrame по индексу строки или меткам столбцов
df.sort_index()

# https://chel-center.ru/python-yfc/2021/02/26/pandas-sort-vashe-rukovodstvo-po-sortirovke-dannyh-v-python/

In [ ]:
# Показывает колоноку col
df['col']
df.col
# показывает колонки отдельно от фрэйма
df[['col1', 'col2', 'col3']]
# выводит колонки с 3 по 6
df.iloc[:, 3:6]
# выводит колонки с col1 по col4
df.loc[:, 'col1':'col4']

In [ ]:
# Выводим значения колонки и кол-во.
np.unique(df["col_1"], return_counts=True)

In [ ]:
# Проверяем min год постройки
df.loc[df['HouseYear'] < 1910, :]
df.loc[df['LifeSquare']-df['Square'] > 5, :]

In [ ]:
# выводим весь фраим по значению'female' в колонке col1
df.loc[df.col1=='female']
df.loc[df.Credit_Default==1]['Years'].value_counts()

In [ ]:
# 
df.groupby('shop_id', as_index=False).aggregate({'col_1':'sum','col_2':'max'})
#as_index=False ровно имена кол пиш

In [ ]:
# меняем значение(колонка и значение)
df.loc[df['col_1']==4,'col_1']=1
# меняем значение(номер строки и номер колонки)
df.at[617, 'Col_1'] = 30

In [ ]:
# Показывает колоноку col_1 и строчки 1 и 2
df.loc[['1', '2'], 'col_1']

In [ ]:
# Отфильтровать по одной колонке и показать другие
df[df.col_1 > 10][['col_3', 'col_2', 'col_1']]

In [ ]:
# просмотр названия всех колонок
df.keys()
df.columns

In [ ]:
# Показывает типы колонок
df.dtypes

In [ ]:
# тип колонки
df['name'].dtype

df.select_dtypes(include='number').head() # выводим колонки с числовым типом
df.select_dtypes(include='object').head() # выводим колонки с строчным типом
df.select_dtypes(exclude='number').head() # исключаем колонки с числовым типом
df.select_dtypes(include=['number','object','category','datetime']).head()

In [ ]:
# показывает кол-во уникальных значений
df.nunique()
# выводим все значения в колонке
np.unique(df['col1'], return_counts=True)
# выводим все значения в колонке
df['col1'].unique()

In [ ]:
# Выводим значения колонки 'этаж' меньше 'этажность дома'.
df.loc[df['этаж'] > df['этажность дома'], 'этож']
# Выводим значения колонки 'этаж' меньше 'этажность дома'.
df.loc[df['этаж'] > df['этажность дома'], :]
# Выводим значения колонки 'площадь'<50 и 'кухня' не равно 5
df.loc[(df['площадь'] < 50) & (df['кухня'] != 5), :]

In [ ]:
#выбрал колонки и отсортировал по одной
df=df[['col_1', 'col_2','col_3']].sort_values(['col_1'])
# выводим ровный заголовок as_index нам помогает
df.groupby('Тип услуги',as_index=False).agg({'Сумма чека':'sum','Пациент':'count'})
df.groupby(['Пол', 'Возраст'])['Дней'].sum()

df.groupby(['Пол', 'Возраст'])['Дней'].agg(['sum', 'count'])

df.groupby(['Пол', 'Возраст'])['Дней'].agg(['sum']).sort_values(by='sum', ascending=False).head(10)
# 
df.groupby('Партия')['Рулон'].nunique().reset_index()

переименование

In [ ]:
# переименование столбцов
df = df.rename(index=str, columns={"V1": "session_value","V2": "value"})
df.rename(columns={'Country':'country_code'})
# переименование столбцов
df.columns = ['col1','col2']
# переименование
df.columns = df.columns.str.replace(' ', '_')
# добавляем Х_ к названию всех колонок
df.add_suffix('X_')

Добавить колонку

In [ ]:
# добавляем колонку 
df['name'] = df_1['col_1']

In [ ]:
# Объединяем фрэймы
df = pd.concat([df, df_1], axis=1)
# соединяем два фрэйма по колонке CustomerId
df = pd.merge(df,df_1,on='CustomerId')

Удаляем

In [ ]:
# удаляем колоноку
df = df.drop("Col", axis=1)
df.drop(['Col'], axis='columns')
# удаляем неколько колонок
df = df.drop(['Col_1', 'Col_2'], axis=1)
# удалить любой столбец с пропущенными значениями
df.dropna(inplace=True, axis=1)
# выбрать порог и использовали параметрthresh-порог-это число ненулевых значений,
# ,которые вы хотите, чтобы столбец имел
df.dropna (thresh=int (df.shape[0]*.9), ось=1)

заменяем значения

In [ ]:
# заменяем значения в колонке
df[0] = df[0].replace('?', 'b')

In [ ]:
# нужно объединить две колонки,col и number(два типа str и int)
df['{col}_number'] = "{" + df.col + "}_" + df.number.map(str)

In [ ]:
# Задаем имя индекса
df.index.name = 'Country_Code'

In [ ]:
# заменяем значения mode
df['col1'] = df['col1'].fillna(df['col1'].mode()[0])
# заполняем NaN в колонке col1 на средние(median) из колонки col1
df = df.fillna(({"col1":df.col1.median()}))
# Заполняем пропуски из col_1 колонкой col_2
df['col_1'] = df['col_1'].fillna(df['col_2'])

In [ ]:
# менять тип данных в колонках
df[1] = df[1].astype(float)
df['name'] = df['name'].astype(int)
df.astype({'col1':'float', 'col2': 'int'})
df =df.infer_objects()
#data['Timestamp'] = pd.to_datetime(data['Timestamp'])
#data['Timestamp'] = pd.to_numeric(data['Timestamp'])
#data['Timestamp'].astype(str).astype(int)
#datetime.fromtimestamp(df).strftime('%d-%m-%Y')
#pd.to_datetime(df).strftime('%Y-%m-%d')

In [ ]:
# Существует четыре способа преобразования столбцов в строку
df['col_1'] = df['col_1'].astype(str)
df['col_1'] = df['col_1'].values.astype(str)
df['col_1'] = df['col_1'].map(str)
df['col_1'] = df['col_1'].apply(str)

In [ ]:
#pandas.to_numeric() перевод все в числовое
df["a"] = pd.to_numeric(df["a"]
#можете использовать для  нескольких столбцов DataFrame с apply()
df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)

In [ ]:
#  заменяем значения в колонке(так как там только male and female, object на int)
df.Gender, unique = pd.factorize(df.Gender)
# def SeriesFactorizer(series):
#     series, unique = pd.factorize(series)
#     reference = {x: i for x, i in enumerate(unique)}
#     print(reference)
#     return series, reference

# df.Gender, GenderRef = SeriesFactorizer(df.Gender)

In [ ]:
# все данные переводит в цифры(но цифры тоже номеруют по ходу)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df = df[df.columns[:]].apply(le.fit_transform)

Регулярки

In [ ]:
# выводим только цифры в колонке "col_1"
df["col_1"].str.extract(r"(\d+\.\d+|\d+)")
# выводим только строчные буквы в колонке "col_2"
df["col_2"].str.replace(r"(\d+\.\d+|\d+)","")

Nan

In [ ]:
# Количество пропущенных значений (в процентах)
round((len(df) - df.count()) / len(df) * 100, 2).sort_values(ascending=False)
# выводим значения только с NaN
# смотрим пропуски в col_1
df[df["col"].isnull()]
# выводим кол-во значений без NaN
df.notnull().sum()
df.notna().sum()
# выводим кол-во значений с NaN
df.isnull().sum()
df.isna().sum()
# выводим True если есть значений с NaN в столбце
df.isna().any()
df.isnull().sum(axis=0)
# выводим значения только с NaN(без тильды)
df[~df['Months'].notnull()]

In [ ]:
# выводит весь фрайм + закрашивает красным где есть NaN
df.style.highlight_null(null_color='#EA4335')

In [ ]:
# заменяем NaN на 0
df['col1'] = df['col1'].replace(np.nan, 0)
# все NAN заменяет на 0
df.fillna(0)
# заполняем NaN в колонке col1 на средние из колонки col1
df = df.fillna(({"col1":df.col1.median()}))

In [ ]:
# удалить любой столбец с пропущенными значениями
df.dropna(inplace=True, axis=1)
# выбрать порог и использовали параметр thresh-порог-это число ненулевых значений,
# ,которые вы хотите, чтобы столбец имел
df.dropna (thresh=int (df.shape[0]*.9), ось=1)

In [ ]:
# big_score,min_score-одинаковые значения в колонках(отбираем только эти колонки или индексы строк)
df.filter(like = 'score', axis=0)

поиск значений макс и мин

In [ ]:
# поиск значений макс и мин, в колонке
df.max(),df.min()
# выводит индекс мак или мин значения
df['Col1'].idxmax()
df['Col1'].idxmin()
# поиск нескольких значений макс , в колонке
df.nlargest(3)
df.nlargest(2, 'Col1')
# поиск нескольких значений мин , в колонке
df.nsmallest(4)
df.nsmallest(2, 'Col1')

формат DATE

In [ ]:
# Создаем колонку 2 перводим колонку 1 в формат DATE
df['col_2'] = pd.to_datetime(df['col_1'])
# Выводим промежуток по времени
df_1 = (df['col_2'] > '2018-12-31') & (df['col_2'] <= '2019-12-31')

In [ ]:
# вывод строк содержащие значение(строчное)
df[df['date'].str.contains('09.2014')]

транспонирование

In [ ]:
# транспонируем колонки(т.е. поврачиваем таблицу на 90°)
df_T.transpose()
# Выводим транспонирование и разделяем на колонки с пропусками:
df_T.pivot(columns='col_1', values='col_2')
# Выводим транспонирование и разделяем на колонки без пропусками:
df_T = df_T.pivot_table(index=df_T.index, columns=['col_1'], values='col_2')
df_T = df_T.apply(lambda x: pd.Series(x.dropna().values))

In [ ]:
# Therapy - будущ колонки, expr - значения колонок
df = df.pivot_table(index=df.index, columns=['Therapy'], values='expr')
df = df.apply(lambda x: pd.Series(x.dropna().values))
# Therapy - будущ колонки, expr - значения колонок
df.pivot(columns='Therapy', values='expr')
df.pivot(index='expr', columns='Therapy', values='expr')

индекс

In [ ]:
# для сортировки DataFrame по индексу строки или меткам столбцов
df.sort_index()

In [12]:
# Сбросить значения индекса
df.reset_index() # что вернет, начальный вид таблице:

In [ ]:
# Выводим по индексу строку
df.loc[df['Id'] == 11607, :]
df.loc[df['Id'].isin([5927,8491,14865, 1435]), :]
#Index_arr = df.loc[df['LifeSquare']-df['Square'] > 5, :].index
#df.loc[Index_arr, :]

In [ ]:
# Объединяем фрэймы(df и train) и потом разделяем
# Запоминаем train по индексу, чтобы потом разделить файлы.
idx_split = train.shape[0]
# Соединяем файлы тренировочный и тестовый для обработки данных.
df = pd.concat([train, test],axis=0,ignore_index=False, sort=False)
# Переназначаем индексы, удаляя дубли индексов.
df.reset_index(drop=True, inplace=True)
# Проверяем на наличие одинаковых индексов.
df[df.index.duplicated()]
# Выносим train из объединеного df
train = df.iloc[:idx_split, :]
# Выносим test из объединеного df.
test = df.iloc[idx_split:, :]

### Работа со  строчками

In [ ]:
# Выводит все колонки
df.columns.values
# Выводит до 100 строчек не обрезано,  по умолчанию=60
pd.options.display.max_rows = 100
pd.set_option('display.max_rows', 100)
# Выводит от 100 строчек не обрезано, по умолчанию=10
pd.set_option('display.min_rows', 100)
# get.options чтобы вернуть текущее значение
pd.get_option("display.max_rows")
# Сбросит все настройки
pd.reset_option("^display")
# Сбросит max настройки
pd.reset_option("max_rows")
pd.reset_option("display.min_rows")
# по умолчанию=усечь
pd.set_option('display.expand_frame_repr', True)

In [ ]:
pd.set_option('display.expand_frame_repr', False)
# параметры для отображения одного большого DataFrame
# Значения опций восстанавливаются автоматически при выходе из withблока
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (df)

In [ ]:
# Смотрим первую строчку
df.iloc[0]

In [ ]:
# Смотрим вторую строчку
df.loc['str_1']
df.iloc[1]

In [ ]:
# выводят первые 7 строк
df.head(7)
df.loc[:6]
df.iloc[:7]
df.iloc[0:7]
# 5 строк и 3 колонки выводим
df.iloc[0:5, 0:3] 
# строчки с 0 до 9 и колонки 0 и 2
df.iloc[0:10, [0,2]]

In [ ]:
# Выводим строчки 1 и 2
df.loc['str_1':'str_2', :]
# Выводим строчки 1 и 2 в колонке 1
df.loc[['str_1', 'str_2'], 'col_1']

In [ ]:
# Выводим строчки=30 в колонке age
df.loc[df.age==30,:].head(3)

In [ ]:
# выводит в колонке col_1 все значение = 40
df.loc[(df['col_1'] == 40)]

In [ ]:
# выводит все значения в 5 строке
df.loc[5, :]

In [ ]:
# Фильтровать .Series
series[series > 0]
# иные методы обработки такого объекта по аналогии с диктом
'd' in my_series3
# Индекс можно поменять 
series.index = ['A', 'B', 'C', 'D']
# можно получить список элементов и индексы, это values
series.values

In [ ]:
# исключаем 1 и 5 строчку и 2 и 4 колонку
df.loc[~df.index.isin([0, 4]), ~df.columns.isin(['V2', 'V4'])]

In [ ]:
# выводит таблицу с конца
df.loc[::-1].head() 
# меняет индекс с нуля и выводит
df.loc[::-1].reset_index(drop=True).head() 
df.loc[:, ::-1].head()

In [ ]:
#вывод фрейма по заданым параметрам колонок
df.query("day_of_week=='Friday' & number==5")
df.query("Возраст >= 35 & Пол == 'М'")

In [ ]:
# Сортировать по значениям колонки 'col' # ascending=False ставим обратный порядок
df.sort_values(['col'],ascending=False)

In [ ]:
# показывает с дополнительным прономерованным индексом
df.reset_index()

In [ ]:
# выводим округление до 3 числа после нуля.
df = round(df, 3)

In [ ]:
# показать Series как DataFrame
df['one'].to_frame()

In [ ]:
# меняем значение(номер строки и номер колонки)
df.at[617, 'Col_1'] = 30

In [ ]:
# Разделяем значения по колонкам(где одно значение одна колонка) и доб в Data
new_cols = pd.get_dummies(train["name"])
train = pd.concat([train, new_cols], axis=1).drop("name", axis=1)
#df = pd.get_dummies(df) во всем дата меняем значения на цифровые

for cat_colname in df.select_dtypes(include='object').columns[1:]:#кроме первой колонки
    df = pd.concat([df, pd.get_dummies(df[cat_colname], prefix=cat_colname)], axis=1)

In [ ]:
#char.array -based Конкатенация
#Преобразуйте столбцы, чтобы chararrays как chararrays, а затем сложите их вместе.

a = np.char.array(df['bar'].values)
b = np.char.array(df['foo'].values)

df['baz'] = (a + b' is ' + b).astype(str)

#     bar foo
# 0    1   a
# 1    2   b
# 2    3   c
df['bar'] = df.bar.map(str) + " is " + df.foo

In [ ]:
# вывод строк содержащие значение(строчное)
df[df['date'].str.contains('09.2014')]

Удаляем

In [ ]:
# удалить строчку 1
df = df.drop(1, axis=0)

In [ ]:
# удалить все строки, которые имеют пропущенное значение в колонке "bin"
df.dropna(subset=['bin'],inplace=True)

In [ ]:
# Убираем дубликаты
df.drop_duplicates(inplace=True)

In [ ]:
# Определите
df.dropna(subset=['name', 'born'])

поиск значений макс и мин

In [ ]:
# поиск значений макс и мин, в колонке
df.max()
df.min()
# выводит индекс мак или мин значения
df['Col1'].idxmax()
df['Col1'].idxmin()
# поиск нескольких значений макс , в колонке
df.nlargest(3), df.nlargest(2, 'Col1')
# поиск нескольких значений мин , в колонке
df.nsmallest(4), df.nsmallest(2, 'Col1')

Выделение разными цветами данных в таблице

In [10]:
# выделяет цветом красным отрицательные
# P.S. вызывает ошибку если не int
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':np.random.normal(size=10),
                   'B':np.random.normal(size=10),
                   'C':np.random.normal(size=10),
                   'D':np.random.normal(size=10),
                   'E':np.random.normal(size=10)})
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df.style.applymap(color_negative_red)

In [15]:
# выделяет цветом желтым max в колонке(цвет можно менять)
def highlight_max(series):
    is_max = series == series.max() #series: true or false
    return ['background-color: yellow' if t_f else '' for t_f in is_max]
df.style.apply(highlight_max)

In [16]:
# выделяет цветом желтым max в колонке и красным отрицательные
df.style.\
    applymap(color_negative_red).\
    apply(highlight_max)

In [17]:
# заливает зеленым цветом в колонке значение(цвет можно менять)
import seaborn as sns
cmap = sns.light_palette("#34A853", as_cmap=True)
df.style.background_gradient(cmap=cmap)

In [18]:
# сбоку заливает красным цветом в колонке значение(цвет можно менять)
df.style.bar(subset=['B'], color='#d65f5f')

Работа с NaN

In [19]:
# выводит весь фрайм + закрашивает красным где есть NaN(цвет можно менять)
df.style.highlight_null(null_color='#EA4335')

## Ссылки на Графики  
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Начало" data-toc-modified-id="Начало-0.0.1">Начало</a></span></li></ul></div>

In [ ]:
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#Начало" data-toc-modified-id="Начало-0.0.1">Начало</a></span></li></ul></div>

https://medium.com/swlh/your-ultimate-python-visualization-cheat-sheet-663318470db

In [ ]:
# сделать график крупнее
sns.set(rc={'figure.figsize': (9, 6)})